{{ define "main" }}
<form class="contact-form">

    <h1 class="contact-title">{{ .Title }}</h1>

    {{ .Content }}

    <div class="form-content">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    </div>

    <button type="submit">Send</button>
</form>
{{ end }}